@{
    ViewData["Title"] = "Home Page";
}
<section class="vh-100 bg-image"
         style="background-image: url('https://kondowealthadvisors.com/wp-content/uploads/2023/03/Kondo-Banking-Article-Social-Image.jpg');">

    <div id="carouselExampleIndicators" class="carousel slide mt-4 mx-auto" data-mdb-ride="carousel" style="max-width: 900px;">
        <div class="carousel-indicators" style="bottom: -30px;">
            <button type="button"
                    data-mdb-target="#carouselExampleIndicators"
                    data-mdb-slide-to="0"
                    class="active"
                    aria-current="true"
                    aria-label="Slide 1"></button>
            <button type="button"
                    data-mdb-target="#carouselExampleIndicators"
                    data-mdb-slide-to="1"
                    aria-label="Slide 2"></button>
            <button type="button"
                    data-mdb-target="#carouselExampleIndicators"
                    data-mdb-slide-to="2"
                    aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://play-lh.googleusercontent.com/fRXBPUMl6luLy2VNeg5HITY_YnzdB1gqIngIgmE84VkZ2B4WChrNMb--olmvJl7Y_g=w526-h296-rw" class="d-block w-100" alt="Wild Landscape" />
            </div>
            <div class="carousel-item">
                <img src="https://tbcbank.uz/uploads/R_1_cc107104d4.jpeg" class="d-block w-100" alt="Camera" />
            </div>
            <div class="carousel-item">
                <img src="https://davrbank.uz/upload/iblock/d3c/r9m9awsjzyl29lpvavlk8shevj9xh9c8.jpg" class="d-block w-100" alt="Exotic Fruits" />
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
